
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: 0px;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #202020;
    border-left: 0px
}