{% extends "base.html" %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="static/upnav.css">
    <link rel="stylesheet" href="static/scrollbar_style.css">
{% endblock %}

{% block main %}
    <!-- VTB介紹 -->
    <br>
    <div class="container text-center pt-5" >
        <div class="container p-5">
            <div class="row align-items-center g-5 py-5 align-self-center ">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-12 col-sm-12">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Vtuber是什麼</h1>
                    <br>
                    <p class="h5">VTuber 是一種網路實況主，他們通常會使用類似于面部追蹤技術的軟件，將自己的頭像和聲音與直播平台上的視頻流結合在一起，這樣觀眾就可以
                        通過視頻直播感受到vtuber的真實表情和動作，從而在網路上直播遊戲、聊天、給觀眾聊天、唱歌、表演或做其他各種活動。</p>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <div class="row align-items-center g-5 py-5 align-self-center ">
                <div class="col-lg-6 col col-sm-12">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Vtuber的起源</h1>
                    <p class="lead">Vtuber 的起源可以追溯到日本的 Nico Nico Douga（ニコニコ動画）網站，在這個網站上，使用者可以透過軟體將自己頭像或自定義角色的頭像放到影片
                        中，並透過麥克風對着螢幕發言。</p>
                  </div>
                <div class="col col-sm-12 col-lg-6 align-self-center align-items-center ">
                  <img src="static/img/HSVI_vtuber/VTB_shadow.png" class="mx-lg-auto img-fluid align-items-center " alt="Bootstrap Themes" loading="lazy">
                </div>
            </div>

            <div class="row align-items-center g-5 py-5 align-self-center ">
                <div class="col col-sm-12 col-lg-6 align-self-center align-items-center ">
                  <img src="static/img/recruitment/recruitment_vtb.png" class="mx-lg-auto img-fluid align-items-center" alt="Bootstrap Themes" loading="lazy">
                </div>
                <div class="col-lg-6 col col-sm-12">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Vtuber</h1>
                  <p class="lead">日本的 Vtuber 在 2014 年左右開始流行，當時主要是一些 YouTuber 在 Nico Nico Douga 上發表影片，並使用自己的虛擬角色為主人公。隨著時間
                    的推移，Vtuber 的概念逐漸擴展，不僅僅局限於日本，也在其他國家和地區流行起來，變成一種新的流行趨勢。</p>
                </div>
            </div>
    
        </div>
        <!-- <a href="ourvtuber.html" style="font-size: 20px;" class=" btn btn-primary">看看HSVI推出的Vtuber</a> -->
    </div>
    <br>
    <br>
    <br>
{% endblock %}
{% block footer %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock %}